.card-login{
    margin-top: 50%;
    transform: translateY(-25%);
    background-color: transparent;
    box-shadow: none!important;
}


.card-login > .card-body{
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb),.075)!important;
}

.card-login > .card-header {
    background-color: transparent;
}

.auth-logo{
    width: 150px;
}
.auth-logo > img{
    width: 100%;
}
