.btn-primary{
    --bs-btn-bg: var(--color-primary);
    --bs-btn-border-color: var(--color-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1aa4c7;
    --bs-btn-hover-border-color: #1aa4c7;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1aa4c7;
    --bs-btn-active-border-color: #1aa4c7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--color-primary);
    --bs-btn-disabled-border-color: var(--color-primary);
}

.btn-outline-primary {
    --bs-btn-color: var(--color-primary);
    --bs-btn-border-color: var(--color-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--color-primary);
    --bs-btn-hover-border-color: var(--color-primary);
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--color-primary);
    --bs-btn-active-border-color: var(--color-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--color-primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--color-primary);
    --bs-gradient: none;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1dc175;
    --bs-btn-border-color: #1dc175;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1cb36c;
    --bs-btn-hover-border-color: #1cb36c;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1cb36c;
    --bs-btn-active-border-color: #1cb36c;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #1dc175;
    --bs-btn-disabled-border-color: #1dc175;
}

.btn-outline-success {
    --bs-btn-color: #1dc175;
    --bs-btn-border-color: #1dc175;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1dc175;
    --bs-btn-hover-border-color: #1dc175;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1dc175;
    --bs-btn-active-border-color: #1dc175;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #1dc175;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #1dc175;
    --bs-gradient: none;
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: #e15361;
    --bs-btn-border-color: #e15361;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c72c3c;
    --bs-btn-hover-border-color: #c72c3c;
    --bs-btn-focus-shadow-rgb: 225,83,97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c72c3c;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #e15361;
    --bs-btn-disabled-border-color: #e15361;
}

a[type=button]{
    text-decoration: none;
    color: #000;
}


.btn-xs {
    --bs-btn-padding-y: .325rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
    line-height: 1;
}
