.dropzone {
    min-height: 1px!important;
    height: auto;
    border: 2px dotted #ddd!important;
    background: #f3f3f3!important;
    padding: 15px!important;
    border-radius: 0.335rem!important;
    position: relative;
}

.dropzone:hover{
    background-color: #fff!important;
}

.dropzone .img-row {
    background: transparent!important;
}

.dropzone .img-row .dz-image {
    border: 1px solid #ddd;
}

.dropzone .img-row .dz-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dz-default.dz-message {
    text-align: center;
    display: block!important;
    margin: 0!important;
}

.img-row .progress {
    opacity: 1;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    background: rgba(255,255,255,.9);
    transform: scale(1);
    -webkit-transform: scale(1);
    overflow: hidden;
}

.img-row:not(.dz-processing):not(.img-row.dz-complete) .progress {
    opacity: 0;
}

.img-row.dz-processing .progress {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.img-row.dz-complete .progress {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    -ms-transition: opacity .4s ease-in;
    -o-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}

.file-error {
    margin-top: 0.5rem!important;
    background-color: #fff;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 5px;
    background-color: #e15361;
    color: #fff;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb),.15)!important;
}

[data-dz-name]{
    display: block;
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

[data-dz-size]{
    font-weight: 300!important;
    font-size: .75rem!important;
    background-color: #ddd;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
}

.preview-container{
    position: relative;
}

.img-row {
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb),.15)!important;
    border-radius: 5px;
    position: relative!important;
}

/* .img-row.show {
    opacity: 1;
    visibility: visible;
    position: static;
} */

.img-row .table-action {
    width: initial;
}

.img-preview {
    width: 75px;
    height: 75px;
    background-position: center!important;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    overflow: hidden!important;
    border: 0;
}

.img-preview > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0;
    border: 0!important;
}

.img-row .progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
