@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Medium.ttf);
}

body{
    --body-bg-color: rgb(247 247 247);
    background-color: var(--body-bg-color);
    font-size: .85rem;
    --input-border-color: #f3f3f3;
    --input-bg-color: #f3f3f3;
    --text-color-light: #a3a3a3!important;
    --color-primary: #1dafd5;
    --bs-link-hover-color: var(--color-primary);
    --sidebar-width: 230px;
    --sidebar-width-max: 80px!important;
    font-family: Nunito;
}

.body-content{
    display: flex;
}

.body-content.maximize .sidebar .sidebar-menu .nav-link > span{
    display: none;
}
.body-content.maximize .sidebar .sidebar-menu .nav-link > .fi {
    margin-right: 0;
}
.body-content.maximize .sidebar .sidebar-menu .nav-link::after {
    content: none;
}
.body-content.maximize .sidebar{
    width: var(--sidebar-width-max);
}
.body-content.maximize .sidebar .sidebar-menu .nav-link > .fi {
    margin-right: 0;
}

.body-content.maximize .sidebar .has-submenu > .nav {
    padding-left: .25rem;
}

.content{
    padding-top: 1.5rem;
    flex-grow: 1!important;
}

@media (min-width: 576px) {
    .content,
    .footer {
        padding: 1.5rem 2rem;
    }
}

.row.row-wrapper {
    --bs-gutter-x: 0;
}

@media (min-width: 768px){
    .row.row-wrapper {
        --bs-gutter-x: 1rem;
    }
}

.page{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media (min-width: 576px) {
    .page{
        min-width: 1px;
        width: calc(100% - var(--sidebar-width));
        margin-left: var(--sidebar-width);
        /* transition: width .5s, margin .5s; */
    }
    .body-content.maximize .page{
        width: calc(100% - var(--sidebar-width-max));
        margin-left: var(--sidebar-width-max);
    }
}

.page-title{
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}
@media (min-width: 576px) {
    .page-title {
        padding: 0;
    }
}

.pagination {
    --bs-pagination-active-bg: var(--color-primary);
    --bs-pagination-active-border-color: var(--color-primary);
}

.page-link:focus {
    box-shadow: none;
}

.bulk-action {
    transition: all 1s;
    margin-right: .25rem;
    padding-right: .5rem;
    display: none;
    border-right: 0;
    border-top: 1px solid #ddd;
    order: 1;
    padding-top: .5rem;
}
@media (min-width: 576px) {
    .bulk-action {
        order: 0;
        /* border-right: 1px solid #ddd; */
        border-top: 0;
        padding-top: 0;
    }
}

.circle {
    border-radius: 50%;
    overflow: hidden;
}
.object-fit-contain{
    width: 100%;
    height: 100%;
}

.to-center{
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%,-50%);
}

.footer {
    margin-top: 1rem;
    padding: 1rem 1rem 2rem;
    background-color: #fff;
    text-align: center;
}

.pagination {
    --bs-pagination-padding-x: 0.5rem;
    --bs-pagination-padding-y: 0.25rem;
    --bs-pagination-font-size: 0.875rem;
    --bs-pagination-border-radius: 0.25rem;
}

/* width */
*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--body-bg-color);
    border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 10px;
}
