.header {
    background-color: #fff;
    top: 0;
    z-index: 99;
    position: -webkit-sticky!important;
    position: sticky!important;
    padding: 0.5rem 0;
    border-bottom: 1px solid transparent;
}

.header .navbar{
    padding: 0 1rem;
}

@media (min-width: 576px) {
    .header .navbar{
        padding: 0 0.5rem;
    }
    .header{
        background-color: var(--body-bg-color);
    }
}

.header > .navbar > .container-fluid {
    --bs-gutter-x: 0;
}

.header .navbar .avatar {
    width: 35px;
    height: 35px;
}
.header .navbar .avatar img {
    width: 100%;
    object-fit: contain;
}

.header .form-search{
    position: relative;
}
.header .form-search input{
    padding-right: 58px;
}
.header .form-search .btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.dropdown-profile > .dropdown-toggle::after{
    border-top-color: var(--text-color-light);
}

.header-profile{
    margin-left: .5rem;
    margin-right: .5rem;
    color: var(--text-color-light);
    font-weight: 500;
}

.header .dropdown-menu {
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    display: block;
    transition: transform .3s ease;
    right: 1.15rem;
    left: auto;
}

.header .dropdown-menu.show {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.navbar-toggler-lg {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler,
.navbar-toggler-lg {
    border-color: transparent;
    padding: 0;
}

.navbar-toggler:focus,
.navbar-toggler-lg:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-toggler-lg {
    display: none;
}

@media (min-width: 576px) {
    .navbar-toggler {
        display: none;
    }
    .navbar-toggler-lg {
        display: block;
    }
}

@media (max-width: 575px) {
    .dropdown-profile .dropdown-toggle.caret::after {
        content: unset;
    }

}

.search-toggler{
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
    border-color: transparent;
    padding: 0;
}


@media (max-width: 575px) {
    .form-search {
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s;
    }
    .form-search.show {
        visibility: visible;
        opacity: 1;
        backdrop-filter: blur(1px);
    }
    .form-search {
        position: fixed!important;
        background-color: #4a494978;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        padding: 1rem;
        z-index: 999;
    }
    .form-search form {
        position: relative;
        padding-right: 40px;
    }
    .header .form-search .btn {
        position: absolute;
        top: 0;
        right: 40px;
        bottom: 0;
        z-index: 1041;
        display: inline-flex;
        line-height: 2;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .header-search-toggle {
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        background-color: #fff;
        /* line-height: 1.2; */
        padding: 0.5rem;
        border-radius: 5px;
        box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb),.075)!important;
        text-align: center;
    }
    .sidebar-toggler{
        position: absolute;
        top: 17px;
        right: -43px;
        display: block;
        background-color: #fff;
        line-height: 1;
        padding: 0.5rem;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s;
        box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb),.075)!important;
        text-align: center;
    }
}

@media (min-width: 576px) {
    .header-search-toggle, .search-toggler {
        display: none!important;
    }
}
