.modal.fade .modal-dialog {
    transition: transform .15s ease;
    transform: scale(.75);
}
.modal.fade.show .modal-dialog {
    transform: scale(1);
}


.modal.slide > .modal-dialog {
    transform: none!important;
    position: fixed;
    margin: auto;
    --modal-slide-width: 320px;
    width: var(--modal-slide-width);
    height: 100%;
}

.modal.slide > .modal-dialog > .modal-content {
    height: 100%;
    border-radius: 0;
    border: none;
}

.modal.slide.right > .modal-dialog{
    left: auto;
    right: calc(0px - var(--modal-slide-width));
    --right-modal-transition: opacity .1s linear, right .3s ease;
    -webkit-transition: var(--right-modal-transition);
    -moz-transition: var(--right-modal-transition);
    -o-transition: var(--right-modal-transition);
    transition: var(--right-modal-transition);
}

.modal.slide.left > .modal-dialog{
    left: calc(0px - var(--modal-slide-width));
    right: auto;
    --left-modal-transition: opacity .1s linear, left .3s ease;
    -webkit-transition: var(--left-modal-transition);
    -moz-transition: var(--left-modal-transition);
    -o-transition: var(--left-modal-transition);
    transition: var(--left-modal-transition);
}

.modal.slide.right.show .modal-dialog{
    right: 0;
    -webkit-transition: var(--right-modal-transition);
    -moz-transition: var(--right-modal-transition);
    -o-transition: var(--right-modal-transition);
    transition: var(--right-modal-transition);
}

.modal.slide.left.show .modal-dialog{
    left: 0;
}

.modal-header {
    position: relative;
    border-bottom: 0;
}
.modal-footer{
    border-top: 0;
}
.modal-body{
    padding-top: 0;
    padding-bottom: 0;
}
.modal-body .row>* {
    padding-left: 1rem;
    padding-right: 1rem;
}

.modal-header > .btn-close{
    position: absolute;
    top: 8px;
    right: -30px;
    display: block;
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    font-size: 17px;
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}


.modal.slide.right .modal-header > .btn-close,
.modal.slide.left .modal-header > .btn-close {
    top: 22px;
}

.modal.slide.right .modal-header > .btn-close {
    left: -35px;
    right: initial;
    text-align: center;
}

.btn-close:focus {
    outline: 0;
    box-shadow: none!important;
    opacity: var(--bs-btn-close-focus-opacity);
}

/* .modal-content {
    overflow: hidden;
} */
