body.parking {
  background: linear-gradient(180deg, #2B2B2B 0%, #171717 100%);
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 7%;
  min-height: 100vh;
}
nav.parking-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.parking-navbar .logo {
  width: 150px;
  height: 64px;
  background: green;
  background: url('../img/on-park.png'); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size:contain;
}
.user-setting {
  position: relative;
}
.user-setting .user-display {
  width: 32px;
  height: 32px;
  background: mediumpurple;
  border-radius: 50%;
}
.user-setting ul.user-menu {
  position: absolute;
  padding: 0;
  margin: 0;
  padding: 8px 12px;
  right: 0;
  top: 52px;
  background: whitesmoke;
  border-radius: 4px;
  list-style-type: none;
}
.user-setting ul.user-menu::after {
  content: '';
  width: 8px;
  height: 8px;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid whitesmoke;
  position: absolute;
  top: -16px;
  right: 8px;
}
.slot-parkir {
  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: center;
  grid-gap: 24px;
  text-align: center;
}
.slot-parkir-box {
  border-radius: 8px;
  text-align: center;
}
.slot-parkir-box > .title {
  font-size: 32px;
  font-weight: bold;
  padding: 8px 12px;
  background: linear-gradient(169.44deg, #F9A825 25.22%, #E08B00 101.94%);
  border-radius: 4px 24px 0px 0px;
}
.slot-parkir-box > .value {
  font-size: 148px;
  border: 1px solid white;
  border-radius: 0px 0px 4px 4px;
  color: #00db76;
  font-weight: bold;
}
.slot-parkir .text {
  padding: 16px;
  font-size: 32px;
}
.parking-info {
  width: 450px;
  margin: auto;
  text-align: center;
}
.parking-info > .clock {
  font-size: 116px;
  color: #ffc107;
}
.parking-info > .date {
  font-size: 24px;
}
.parking-info > .location {
  font-size: 24px;
}
footer.parking-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px 12%;
  text-align: center;
  background: whitesmoke;
  color: #323232;
}
.footer-title {
  font-size: 33px;
  font-weight: bold;
  border-bottom: 2px solid #cfcfcf;
}
.footer-desc {
  margin: auto;
  font-size: 20px;
  margin-top: 16px;
}

@media screen and (min-width: 2000px) {
  body.parking {
    padding-top: 6%;
  }
  .slot-parkir-box > .title {
    font-size: 32px;
  }
  .slot-parkir-box > .value {
    font-size: 196px;
  }
  .slot-parkir .text {
    font-size: 32px;
  }
  .parking-info > .clock {
    font-size: 132px;
  }
  .parking-info > .date {
    font-size: 24px;
  }
}

@media screen and (max-width: 1600px) {
  .slot-parkir-box > .title {
    font-size: 26px;
  }
  .slot-parkir-box > .value {
    font-size: 122px;
  }
  .slot-parkir .text {
    font-size: 22px;
  }
  .parking-info > .clock {
    font-size: 72px;
  }
  .parking-info > .date {
    font-size: 24px;
  }
  .parking-info > .location {
    font-size: 24px;
  }
  .footer-title {
    font-size: 24px;
  }
  .footer-desc {
    font-size: 16px;
  }
}

@media screen and (max-width: 1366px) {
  body.parking {
    padding-top: 5%;
  }
  .slot-parkir-box > .title {
    font-size: 20px;
  }
  .slot-parkir-box > .value {
    font-size: 92px;
  }
  .slot-parkir .text {
    font-size: 19px;
  }
  .parking-info > .clock {
    font-size: 56px;
  }
  .parking-info > .date {
    font-size: 19px;
  }
  .footer-title {
    font-size: 21px;
  }
  .footer-desc {
    font-size: 15px;
  }
}