.sidebar{
    width: var(--sidebar-width);
    top: 0;
    bottom: 0;
    left: calc(0px - var(--sidebar-width));
    padding: 0 1rem;
    background-color: var(--body-bg-color);
    position: fixed;
    border-right: 1px solid #ddd;
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb),.15)!important;
    z-index: 199;
    transition: width .5s ease, left .5s;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar.show{
    left: 0;
}
.sidebar.show + .page{
    margin-left: var(--sidebar-width);
}

@media (min-width: 576px) {
    .sidebar{
        left: 0;
    }
}

.brand {
    height: 67px;
    max-height: 67px;
    border-bottom: 1px solid #ddd;
    padding: 1.5px 0;
}
.body-content:not(.maximize) .brand-content {
    height: 100%;
    padding: .5rem;
}
.brand-content img {
    transition: height .5s, width .5s;
    height: 100%;
    width: 100%;
}

.sidebar-menu a {
    border: 0;
    font-size: .95rem;
    letter-spacing: .75px;
    font-weight: 400;
    color: var(--text-color-light)!important;
    position: relative;
    border-radius: 5px;
    display: flex;
}

.sidebar-menu .nav-title {
    font-weight: bolder;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    padding: 0 0.5rem;
}

.sidebar-menu a:hover,
.sidebar-menu a.active{
    color: var(--color-primary)!important;
}

.sidebar-menu a.active{
    color: #fff!important;
    background-color: var(--color-primary);
}

.sidebar-menu .has-submenu > .collapse a.active{
    color: var(--color-primary)!important;
    background-color: transparent;
}

.sidebar-menu .nav-link > .fi {
    margin-right: 0.5rem;
}

.nav-link > span {
    display: inline-block;
}

.sidebar .has-submenu > .nav {
    padding-left: 1rem;
}
.sidebar .has-submenu .collapsing {
    flex-wrap: inherit;
}
.sidebar .has-submenu > .nav .nav-link {
    font-size: .85rem;
}
.sidebar .has-submenu > .nav .nav-link:before {
    content: "";
    margin-right: 0.5rem;
    width: 5px;
    height: 5px;
    background-color: var(--text-color-light)!important;
    border-radius: 50%;
    display: inline-block;
    margin-top: 6px;
}
.sidebar .has-submenu > .nav .nav-link:hover:before,
.sidebar .has-submenu > .nav .nav-link.active:before {
    background-color: var(--color-primary)!important;
}

.body-content:not(.maximize) .sidebar .has-submenu > .nav-link:after{
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 13px;
    width: 13px;
    height: 13px;
    top: 13px;
    transition: all .2s;
}

.body-content:not(.maximize) .sidebar .has-submenu > .nav-link:after{
    transform: rotate(0deg);
}

.body-content:not(.maximize) .sidebar .has-submenu > .nav-link:not(.active):after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23a3a3a3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.body-content:not(.maximize) .sidebar .has-submenu > .nav-link:not(.active):hover:after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231dafd5' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.body-content:not(.maximize) .sidebar .has-submenu > .nav-link.active:after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.body-content:not(.maximize) .sidebar .has-submenu > .nav-link[aria-expanded="false"]:after{
    transform: rotate(-90deg);
}

.body-content:not(.maximize) .sidebar .has-submenu > .nav-link[aria-expanded="true"]:after,
.body-content:not(.maximize) .sidebar .has-submenu > .nav-link.active:not(.collapsed):after{
    transform: rotate(0deg);
}

.sidebar-blanket{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #4a494978;
    z-index: 195;
    backdrop-filter: blur(1px);
}

.sidebar-toggler{
    position: absolute;
    top: 1rem;
    right: -43px;
    display: block;
    background-color: #fff;
    line-height: 1;
    padding: 0.5rem;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb),.075)!important;
    text-align: center;
}

.sidebar.show .sidebar-toggler {
    visibility: visible;
    opacity: 1;
}

.body-content.maximize .sidebar .has-submenu > .nav .nav-link:before {
    margin-right: 0;
}

.body-content.maximize .sidebar [data-title]:hover:after {
    content: ""attr(data-title)"";
    position: absolute;
    left: 90%;
    background-color: #f7f7f7;
    padding: 3px 6px;
    top: 4px;
    border-radius: 5px;
    white-space: nowrap;
    color: var(--color-primary)!important;
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb),.15)!important;
}

.sidebar .nav-link[href="#"] {
    pointer-events: none;
    opacity: .3;
}
