@import url('general.css');
@import url('button.css');
@import url('sidebar.css');
@import url('header.css');
@import url('modal.css');
@import url('tab.css');
@import url('dropzone-custom.css');
@import url('dropzone-custom.css');
@import url('select2.css');


.dropdown-toggle{
    display: inline-flex;
    align-items: center;
}
.dropdown-toggle::after{
    content: none;
}
.dropdown-toggle.caret::after{
    content: "";
}
.dropstart .dropdown-toggle::before {
    content: none;
}


/* CARD */
.card {
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb),.075)!important;
    position: relative;
    overflow: hidden;
}
.card, .card-header {
    border: 0;
    background-color: #fff;
}
.card-header{
    padding-left: .5rem;
    padding-right: .5rem;
}
.card-body{
    border-radius: var(--bs-card-border-radius);
}
.card-header h5 {
    margin-bottom: 0;
}
.card-title{
    margin-bottom: 1rem;
}
.card-subtitle {
    margin-top: 1.75rem;
    margin-bottom: .75rem;
    position: relative;
}
/* CARD end */

/* TABLE */
.pagination {
    margin-bottom: 0;
}

.label-wrap{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.label-wrap > select {
    margin-right: .5rem;
}
.label-wrap > select:focus {
    outline: 0;
    box-shadow: none;
}

/* TABLE */
thead {
    color: #767676;
    text-transform: uppercase;
    letter-spacing: .75px;
}

.table th.check, .table td.check {
    width: 30px;
    padding-right: 1rem;
}

.table-action{
    text-align: center;
    width: 50px;
}

.table-action .btn{
    color: #b1b1b1;
}

.table-action .btn.show,
.table-action .btn:active{
    color: #b1b1b1;
    border-color: transparent;
}

.page-link {
    padding: 6px 0.75rem;
    border: 0;
}

.active>.page-link,
.page-link.active,
.page-link:hover,
.page-link:focus,
.disabled > .page-link,
.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 10px;
}

.page-item + .page-item {
    margin-left: 0.5rem;
}
.page-item.disabled > .page-link {
    background-color: transparent;
}

.table-img {
    width: 45px;
    height: 45px;
    overflow: auto;
    margin-right: .5rem;
    background-color: #ddd;
}

.table-img > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.table-count{
    font-weight: 500;
    letter-spacing: .75px;
    color: var(--text-color-light);
    padding: .5rem 0;
    display: block;
}

.table-footer > .row {
    justify-content: center!important;
    align-items: center!important;
    /* text-align: center; */
}

.table-footer .pagination{
    margin-bottom: .5rem;
}

@media (min-width: 576px){
    .table-footer > .row {
        justify-content: space-between!important;
    }
    .table-footer .pagination{
        margin-bottom: 0;
    }
}

.table-footer .select-entries {
    justify-content: center;
}
/* TABLE :end */

.breadcrumb{
    margin-bottom: 0;
    font-size: .75rem;
    font-weight: 500;
    color: #818181;
    line-height: 1;
}

.breadcrumb-item+.breadcrumb-item {
    --bs-breadcrumb-item-padding-x: .25rem;
}

.breadcrumb-item+.breadcrumb-item::before {
    --bs-breadcrumb-item-padding-x: .25rem;
    --bs-breadcrumb-divider: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' height='8' viewBox='0 0 20 20'%3e%3cpath stroke='%236c757d' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.breadcrumb-item > a {
    color: #818181!important;
}

.breadcrumb-item > a:hover {
    color: var(--color-primary)!important;
}

.breadcrumb-item.active {
    font-weight: normal;
    color: #818181!important;
}

/* FORM */
.form-control::placeholder,
.select2-selection__placeholder,
.select2-search__field::placeholder,
.dz-default.dz-message{
    color: #b1b1b1!important;
    font-style: italic!important;
    font-size: 1rem!important;
    font-family: var(--bs-font-sans-serif)!important;
    font-weight: 300!important;
}

.form-control {
    border-radius: .375rem!important;
}

.form-control, .form-select, .form-check-input {
    border-color: var(--input-border-color)!important;
    background-color: var(--input-bg-color)!important;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border-color: var(--input-border-color);
    background-color: #ffffff!important;
}

.form-label{
    font-weight: 500;
    color: #818181;
    letter-spacing: .75px;
}

.form-control:disabled,
.form-select:disabled,
.select2-container--disabled .select2-selection{
    color: #383838;
    background-color: #d1d1d1!important;
}

.form-control.is-invalid,
.input-group.is-invalid>.form-control,
.was-validated .form-control:invalid,
.form-select.select2.is-invalid+.select2-container .select2-selection,
.rich-text.is-invalid+.tox{
    border-color: var(--bs-danger)!important;
    background-color: #dc35450d!important;
    background-image: none;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    box-shadow: none;
    background-color: #fff!important;
}

.form-loading {
    background-color: #00000057;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 999!important;
}

.form-loading.fixed {
    position: fixed;
}

.input-group > .input-group-text + .form-control{
    padding-left: 43px;
}

.input-group > .form-control:nth-child(2):not(:last-child),
.input-group > .form-control:nth-child(1):first-child {
    padding-right: 43px;
}

.input-group{
    position: relative;
}

.input-group a{
    color: #c9c9c9;
}

.input-group-text:first-child{
    left: 0;
}
.input-group-text:last-child{
    right: 0;
}

.input-group-text, .input-group-text a{
    color: #838383!important;
}

.input-group-text{
    background: transparent;
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 6;
}

.datepicker {
    padding: 0.375rem 0.75rem;
}

.form-action{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    justify-content: flex-end;
}
/* FORM end */

/* LINK */
a[href]:not(.btn) {
    color: #000;
    text-decoration: none;
}

/* BADGE */
.badge {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    --badge-opacity: .75;
    padding: 0.1rem 0.5rem;
    line-height: normal;
}
/* .badge.badge-sm {
    padding: 0.25rem 0.45rem;
} */
.text-bg-primary {
    background-color: rgba(26,164,199,var(--badge-opacity))!important
}
.text-bg-secondary {
    background-color: rgba(108,117,125,var(--badge-opacity))!important;
}
.text-bg-success {
    background-color: rgba(25,135,84,var(--badge-opacity))!important;
}
.text-bg-danger {
    background-color: rgba(220,53,69,var(--badge-opacity))!important;
}
.text-bg-warning {
    color: rgba(255,255,255)!important;
    background-color: rgba(255,193,7,var(--badge-opacity))!important;
}
.text-bg-info {
    color: rgba(255,255,255)!important;
    background-color: rgba(13,202,240,var(--badge-opacity))!important;
}
.text-bg-dark {
    background-color: rgba(33,37,41,var(--badge-opacity))!important;
}


/* DROPDOWN */
.dropdown-item {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}
.dropdown-item.active, .dropdown-item:active {
    --bs-bg-opacity: 15%;
    background-color: rgb(13 110 253 / var(--bs-bg-opacity))!important;
    color: #767676;
}
.dropdown-menu.show {
    border-color: transparent!important;
    box-shadow: 0px 0px 15px 0px rgba(82, 63, 105, 0.15);
    padding: 0!important;
    overflow: hidden;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff!important;
    background-color: rgba(74, 213, 248, 0.63)!important;
}
.dropdown-divider{
    margin: .25rem 0.75rem;
}

/* PROFIlE */
.img-wrapper{
    width: 125px;
    height: 125px;
    background-image: url("https://preview.keenthemes.com/good/assets/media/svg/avatars/blank.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100% - 0.5rem);
    border-radius: var(--bs-border-radius);
    border: 1px solid #ddd;
    position: relative;
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb),.15)!important;
}
.img-wrapper > img {
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: contain;
}
.img-wrapper > small {
    display: inline-block;
    padding: 0.115rem 0.15rem;
    background-color: #ddd9;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    position: absolute;
}
[type=file].--file-browse{
    display: none;
}

.text-email{
    display: block;
    color: var(--text-color-light);
    font-weight: 500;
}

/* FORM CHECK REGULAR */
.form-check-input:focus {
    box-shadow: none;
    border-color: var(--input-border-color);
}

.form-check {
    margin-bottom: .25rem;
}

.form-check-input{
    font-size: 1.25rem;
    cursor: pointer;
}

.form-check-label,
.img-browse,
.datepicker,
label[for]{
    cursor: pointer;
}

.form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%231dafd5' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    background-color: var(--input-bg-color);
    border-color: var(--input-bg-color);
}
.form-check-input[type=checkbox]:indeterminate {
    background-color: var(--input-bg-color);
    border-color: var(--input-bg-color);
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%231dafd5' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%231dafd5'/%3e%3c/svg%3e")!important;
    background-image: var(--bs-form-check-bg-image)
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.25rem;
    margin-top: 0.05rem;
}

.form-check-input + label{
    margin-left: .45rem;
    line-height: 1.7;
}

.tox-tinymce{
    border: var(--bs-border-width) solid var(--input-border-color)!important;
}

.btn-check[type=radio]+label {
    border-radius: .375rem!important;
}
/* FORM CHECK REGULAR end */

/* FORM TOGGLE BUTTOn */
.toggle-btn {
    position: relative;
    display: inline-flex;
}

.toggle-btn > .form-check-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    visibility: hidden;
}

.toggle-btn > .form-check-input + label{
    display: inline-block;
    background: #eee;
    width: 150px;
    height: 31px;
    border-radius: .375rem!important;
    position: relative;
    cursor: pointer;
    margin: 0;
    transition: all .2s;
}

.toggle-btn label:before {
    content: ""attr(data-off)"";
    line-height: 27px;
    padding: 0 16px;
    background: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: .375rem!important;
    min-width: 50%;
    text-align: center;
    transition: all .2s;
}

.toggle-btn > .form-check-input:checked + label {
    background-color: var(--color-primary);
}

.toggle-btn > .form-check-input:checked + label:before {
    content: ""attr(data-on)"";
    left: calc(50% - 3px);
}
/* FORM TOGGLE BUTTON end */

.form-text {
    --bs-secondary-color: #818194;
    font-style: italic;
    font-size: .865em;
}

.fi.spin::before {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: block;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.has-loading{
    position: relative;
}

.progress {
    --bs-progress-bar-bg: var(--color-primary);
}

.fi {
    display: inline-block;
    transform: translateY(2px);
}

.btn > .fi {
    transform: translateY(1px);
}

.input-group-text > .fi {
    transform: translateY(2px);
}

/* Daterangepicker CALENDAR */
.calendar-table td.active {
    background-color: var(--color-primary)!important;
    background-image: none!important;
}

.calendar-table td.off.disabled {
    text-decoration: none;
}

.drp-calendar .monthselect,
.drp-calendar .yearselect{
    background-color: #ddd;
    border-color: #ddd;
    border-radius: 5px;
}

.drp-calendar .monthselect > option,
.drp-calendar .yearselect > option{
    background-color: #fff;
    border-color: #fff;
}

.has-count{
    position: relative;
    font-size: var(--bs-navbar-toggler-font-size);
}
.notif-count {
    position: absolute;
    font-size: 10px;
    background-color: #e15361;
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
    min-width: 19px;
    text-align: center;
    top: 5px;
    right: 0;
}

a.colored {
    color: var(--color-primary)!important;
    text-decoration: underline!important;
}
a.decoration-none {
    text-decoration: none!important;
}
.dotted {
    text-decoration-style: dotted!important;
}
.underline {
    text-decoration-line: underline;
}
a > .fi {
    margin-right: .25rem;
}

.checked-count.badge {
    --bs-bg-opacity: 1;
    padding: 0.15rem 0.5rem;
    margin-left: .25rem;
    font-weight: normal;
}

.success-toast{
    background-color: #1dc175!important;
    color: #fff;
}
.success-toast .swal2-title,
.success-toast .swal2-close,
.success-toast .swal2-html-container {
  color: white;
}

dl {
    margin-bottom: 0;
}
