.tab-wrapper {
    position: relative;
}

.tab-wrapper .nav-tabs{
    background-color: #fff;
    border-bottom: 0;
    border-radius: 0;
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
}

.tab-wrapper .nav-tabs .nav-link {
    background-color: transparent;
    border-color: transparent;
    font-weight: 500;
    color: #818181;
    letter-spacing: .75px;
    position: relative;
}

.tab-wrapper .nav-tabs .nav-link.active {
    background-color: transparent;
    /* border-bottom-color: #ddd; */
    font-weight: 500;
    color: #020202;
    letter-spacing: .75px;
}

.tab-wrapper .nav-tabs .nav-link.active::before {
    content: "";
    position: absolute;
    top: auto;
    left: var(--bs-nav-link-padding-x);
    bottom: 0;
    right: var(--bs-nav-link-padding-x);
    height: 2px;
    background-color: var(--color-primary);
}
